/* Applies only to welcome page */
body {
    background-image:  url(../images/portfolio.jpg);
    background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;            /* optionally, center the image */
}